// ------------------------------------------------------------------------- //
// # VARIABLES
// ------------------------------------------------------------------------- //

// Colors
@color-background: #248E23;

@color-btn-highlight: #ece7e7;
@color-btn-fill: #666;
@color-btn-background: #fff;
@color-btn-hover: #333;
@color-btn-pressed: #000;

// Fonts
@font-icons: "ionicons";

// Font-size
@size-button: 21px;
@size-textfield: 16px;
@size-menu: 13px;

// Effect
@effect-general: dropshadow(gaussian, rgba(0,0,0,0.25), 0, 0, 0, 1);

.high-contrast{
  -fx-background-color: @color-background;
}

.icon {
  -fx-font-family: @font-icons;
}

// All buttons ---------------------------------------------- //
.button, .toggle-button {
  -fx-background-insets: none;
  -fx-background-color: @color-btn-background;
  -fx-cursor: hand;
  -fx-font-size: @size-button;
  -fx-background-radius: 2px;
  -fx-text-fill: @color-btn-fill;
  -fx-effect: @effect-general;
  &:hover{
    -fx-text-fill: @color-btn-hover;
  }
  &:pressed{
    -fx-text-fill: @color-btn-pressed;
  }
}

.buttons-zoom {
  -fx-padding: 8px;
  .button{
    -fx-padding: 10px 12px;
  }
}

.search-button{
  -fx-background-radius: 0px 2px 2px 0px;
}

// ---------------------------------------------------------------------
.address-input-wrapper {
  -fx-padding: 8px;
}

.text-field{
  -fx-effect: @effect-general;
  -fx-background-color: #fff;
  -fx-background-radius: 2 0 0 2;
  -fx-margin: 0 0 5px 0;
  -fx-background-insets: none;
  -fx-font-size: @size-textfield;
}

.dialog-menu{
  -fx-font-size: @size-menu;
  &:hover{
    -fx-background-color: @color-btn-highlight;
  }
}

.menu:hover,.menu-item:hover{
  -fx-cursor: hand;
}

// Compass Styling ---------------------------------------------- //
.compass {
  -fx-padding: 16px;
  .compass-arrow{
    -fx-fill: #fff;
    -fx-stroke: #fff;
    -fx-stroke-line-join: round;
    -fx-effect: @effect-general;
  }
  .compass-disc {
    -fx-fill: none;
    -fx-stroke: #fff;
    -fx-stroke-width: 4px;
    -fx-effect: @effect-general;
  }
}
.compass-reset{
  -fx-padding: 10px 0 0 0;
  .button{
    -fx-padding: 5px 12px;
    -fx-background-radius: 100%;
  }
}
// -----------------------------------------------------------------

.config-vbox {
  -fx-effect: @effect-general;
  -fx-background-radius: 2px;
  -fx-background-color: #fff;
  -fx-padding: 4px;
  .check-box{
    -fx-padding: 4px;
    -fx-text-alignment: left;
    &:hover{
      -fx-background-color: @color-btn-highlight;
    }
  }
}

@import "imports/OSM";
