// -------------------------------------------------------------------------- //
// # IMPORTS
// -------------------------------------------------------------------------- //

@import "imports/OSM";

// -------------------------------------------------------------------------- //
// # VARIABLES
// -------------------------------------------------------------------------- //

// Colors ------------------------------------------------------------------- //

@color-black: #000;
@color-white: #fff;

@color-background: #248E23;

@color-btn-highlight: #ece7e7;
@color-btn-fill: #666;
@color-btn-background: #fff;
@color-btn-hover: #333;
@color-btn-pressed: #000;

// Root --------------------------------------------------------------------- //

@fontFamily-base--root: Arial;
@fontSize-base--root: 14px;
@textFill-base--root: #333;

// Icons -------------------------------------------------------------------- //

@fontFamily-base--icons: "ionicons";

// Sizing ------------------------------------------------------------------- //

@borderRadius-base: 2px;

// Inputs ------------------------------------------------------------------- //

@padding-vertical--input: 10px;
@padding-horizontal--input: 12px;
@fontSize-base--input: @fontSize-base--root;
@textFill-base--input: #666;
@backgroundColor-base--input: @color-white;
@borderRadius-base--input: @borderRadius-base;
@effect-base--input: dropshadow(gaussian, rgba(0,0,0,0.25), 0, 0, 0, 1);

// Text fields -------------------------------------------------------------- //

@padding-base--textField: @padding-vertical--input @padding-horizontal--input @padding-vertical--input - 1px;
@fontSize-base--textField: @fontSize-base--input;
@textFill-base--textField: @textFill-base--input;
@backgroundColor-base--textField: @backgroundColor-base--input;
@borderRadius-base--textField: @borderRadius-base--input;
@effect-base--textField: @effect-base--input;

// Buttons ------------------------------------------------------------------ //

@padding-base--button: @padding-vertical--input @padding-horizontal--input;
@fontSize-base--button: @fontSize-base--input;
@textFill-base--button: @textFill-base--input;
@backgroundColor-base--button: @backgroundColor-base--input;
@borderRadius-base--button: @borderRadius-base--input;
@effect-base--button: @effect-base--input;

// Hover
@textFill-hover--button: #333;

// Pressed
@textFill-pressed--button: @color-black;

// Popovers ----------------------------------------------------------------- //

@backgroundColor-base--popover: @color-black;

// Buttons
@backgroundColor-hover--popoverButton: #eee;

// Compass ------------------------------------------------------------------ //

@padding-base--compass: 16px;

// Compass arrow
@fill-base--compassArrow: @color-white;
@stroke-base--compassArrow: @color-white;
@strokeLineJoin-base--compassArrow: round;
@effect-base--compassArrow: @effect-base--input;

// Compass disc
@fill-base--compassDisc: none;
@stroke-base--compassDisc: @stroke-base--compassArrow;
@strokeWidth-base--compassDisc: 4px;
@effect-base--compassDisc: @effect-base--compassArrow;

// Configuration box -------------------------------------------------------- //

@padding-base--configBox: 4px;
@backgroundColor-base--configBox: @color-white;
@borderRadius-base--configBox: @borderRadius-base;
@effect-base--configBox: @effect-base--input;

// Check boxes
@padding-base--configBoxCheckBox: 4px;
@borderRadius-base--configBoxCheckBox: @borderRadius-base;
@backgroundColor-hover--configBoxCheckBox: #eee;

// -------------------------------------------------------------------------- //
// # STYLES
// -------------------------------------------------------------------------- //

// Root --------------------------------------------------------------------- //

.root {
  -fx-font-family: @fontFamily-base--root;
  -fx-font-size: @fontSize-base--root;
  -fx-text-fill: @textFill-base--root;
}

// Icons -------------------------------------------------------------------- //

.icon {
  -fx-font-family: @fontFamily-base--icons;
}

// Inputs ------------------------------------------------------------------- //

.input-group {
  .text-field,
  .button,
  .toggle-button {
    -fx-background-radius: 0;
  }

  .text-field {
    &.first {
      -fx-background-radius:
        @borderRadius-base--textField 0 0 @borderRadius-base--textField;
    }

    &.last {
      -fx-background-radius:
        0 @borderRadius-base--textField @borderRadius-base--textField 0;
    }
  }

  .button,
  .toggle-button {
    &.first {
      -fx-background-radius:
        @borderRadius-base--button 0 0 @borderRadius-base--button;
    }

    &.last {
      -fx-background-radius:
        0 @borderRadius-base--button @borderRadius-base--button 0;
    }
  }
}

// Text fields -------------------------------------------------------------- //

.text-field {
  -fx-skin: none;
  -fx-padding: @padding-base--textField;
  -fx-font-size: @fontSize-base--textField;
  -fx-text-fill: @textFill-base--textField;
  -fx-cursor: text;
  -fx-background-color: @backgroundColor-base--textField;
  -fx-background-insets: 0;
  -fx-background-radius: @borderRadius-base--textField;
  -fx-effect: @effect-base--textField;
}

// Buttons ------------------------------------------------------------------ //

.button,
.toggle-button {
  -fx-skin: none;
  -fx-padding: @padding-base--button;
  -fx-font-size: @fontSize-base--button;
  -fx-text-fill: @textFill-base--input;
  -fx-cursor: hand;
  -fx-background-color: @backgroundColor-base--button;
  -fx-background-insets: 0;
  -fx-background-radius: @borderRadius-base--button;
  -fx-effect: @effect-base--button;

  &:hover {
    -fx-text-fill: @textFill-hover--button;
  }

  &:pressed {
    -fx-text-fill: @textFill-pressed--button;
  }
}

// Popovers ----------------------------------------------------------------- //

.popover {
  > .border {
    -fx-stroke: none !important;
    -fx-fill: #fff !important;
  }

  .content {
    -fx-padding: 4px;
  }

  .button {
    -fx-alignment: BASELINE_LEFT;
    -fx-effect: none;

    &:hover {
      -fx-background-color: @backgroundColor-hover--popoverButton;
    }
  }
}

// Compass ------------------------------------------------------------------ //

.compass {
  -fx-padding: @padding-base--compass;
}

.compass-arrow {
  -fx-fill: @fill-base--compassArrow;
  -fx-stroke: @stroke-base--compassArrow;
  -fx-stroke-line-join: @strokeLineJoin-base--compassArrow;
  -fx-effect: @effect-base--compassArrow;
}

.compass-disc {
   -fx-fill: @fill-base--compassDisc;
   -fx-stroke: @stroke-base--compassDisc;
   -fx-stroke-width: @strokeWidth-base--compassDisc;
   -fx-effect: @effect-base--compassDisc;
}

.compass-reset {
  -fx-padding: 10px 0 0;

  .button {
    -fx-background-radius: 1000px;
  }
}

// Configuration box -------------------------------------------------------- //

.config-box {
  -fx-padding: @padding-base--configBox;
  -fx-background-color: @backgroundColor-base--configBox;
  -fx-background-radius: @borderRadius-base--configBox;
  -fx-effect: @effect-base--configBox;

  .check-box {
    -fx-padding: @padding-base--configBoxCheckBox;
    -fx-text-alignment: left;
    -fx-cursor: hand;
    -fx-background-radius: @borderRadius-base--configBoxCheckBox;

    &:hover {
      -fx-background-color: @backgroundColor-hover--configBoxCheckBox;
    }
  }
}

// Utilities ---------------------------------------------------------------- //

.u-padded {
  -fx-padding: 10px;
}
