// -------------------------------------------------------------------------- //
// # VARIABLES
// -------------------------------------------------------------------------- //

// Colors
@color-white: #fff;
@color-black: #000;

@color-blue: #a0c3ff;

@color-water: @color-blue;
@color-land: #f2eee7;

// Areas
@fill-area: #F1EEE8;

// Buildings
@fill-building: #D6D1C8;
@stroke-building: #D2CDC2;

// -------------------------------------------------------------------------- //
// # STYLES
// -------------------------------------------------------------------------- //

.map {
  -fx-background-color: @color-water;
  -fx-fill: @color-water;
}

// Ways.
//
// @see <a href="http://wiki.openstreetmap.org/wiki/Way">
//      http://wiki.openstreetmap.org/wiki/Way</a>
.way {
  -fx-fill: none;
  -fx-stroke: none;
  -fx-stroke-line-cap: round;
  -fx-stroke-line-join: round;
}

// Relations.
//
// @see <a href="http://wiki.openstreetmap.org/wiki/Relation">
//      http://wiki.openstreetmap.org/wiki/Relation</a>
.relation .member {
  -fx-fill: none;
  -fx-stroke: none;
}

// Areas.
//
// @see <a href="http://wiki.openstreetmap.org/wiki/Key:area">
//      http://wiki.openstreetmap.org/wiki/Key:area</a>
.area {
  -fx-fill: @fill-area;
  -fx-stroke: none;
}

// Buildings.
//
// @see <a href="http://wiki.openstreetmap.org/wiki/Key:building">
//      http://wiki.openstreetmap.org/wiki/Key:building</a>
.building {
  &, .member {
    -fx-fill: @fill-building;
    -fx-stroke: @stroke-building;
    -fx-stroke-width: .25px;
    -fx-stroke-type: inside;
  }
}

// Highways.
//
// @see <a href="http://wiki.openstreetmap.org/wiki/Map_Features#Highway">
//      http://wiki.openstreetmap.org/wiki/Map_Features#Highway</a>
.highway {
  -fx-fill: none;
  -fx-stroke: none;

  &.unclassified,
  &.residential,
  &.living_street,
  &.pedestrian,
  &.road {
    -fx-stroke: #FEFEFE;
    -fx-stroke-width: 3px;
  }

  &.track {
    -fx-stroke: #a17e16;
    -fx-stroke-width: 1px;
  }

  &.cycleway,
  &.steps,
  &.footway {
    -fx-stroke: #d5d4c8;
    -fx-stroke-width: 1px;
  }

  &.service   { -fx-stroke: #FDFDFD; -fx-stroke-width: 2px; }
  &.bridleway { -fx-stroke: #248E23; -fx-stroke-width: 1px; }
  &.path      { -fx-stroke: #7E7D7B; -fx-stroke-width: 1px; }

  &.tertiary,
  &.tertiary_link { -fx-stroke: #ffffff; -fx-stroke-width: 4px; }

  &.secondary,
  &.secondary_link { -fx-stroke: #F8D5A9; -fx-stroke-width: 6px; }

  &.primary,
  &.primary_link { -fx-stroke: #ffe169; -fx-stroke-width: 6px; }

  &.motorway,
  &.motorway_link,
  &.trunk,
  &.trunk_link { -fx-stroke: #ffffff; -fx-stroke-width: 8px; }

  &.path { -fx-stroke-dash-array: 3; }

  &.track,
  &.bridleway,
  &.path  { -fx-stroke-dash-array: 2; }

  &.footway,
  &.cycleway,
  &.steps { -fx-stroke-dash-array: 1 2; }
}

// Waterway.
//
// @see <a href="http://wiki.openstreetmap.org/wiki/Map_Features#Waterway">
//      http://wiki.openstreetmap.org/wiki/Map_Features#Waterway</a>
.waterway {
  -fx-stroke: @color-water;
  -fx-stroke-width: 0;

  &.river  { -fx-stroke-width: 8px; }
  &.stream { -fx-stroke-width: 3px; }
  &.canal  { -fx-stroke-width: 6px; }
  &.drain  { -fx-stroke-width: 1px; }
  &.ditch  { -fx-stroke-width: 2px; }

  &.riverbank,
  &.dock,
  &.boatyard {
    &, .member {
      -fx-fill: @color-water;
    }
  }
}

// Landuse.
//
// @see <a href="http://wiki.openstreetmap.org/wiki/Map_Features#Landuse">
//      http://wiki.openstreetmap.org/wiki/Map_Features#Landuse</a>
.landuse {
  &, .member {
    -fx-fill: none;
    -fx-stroke: none;
  }

  &.allotments              { &, .member { -fx-fill: #E5C7AB; } }
  &.basin                   { &, .member { -fx-fill: #B5D0D0; } }
  &.brownfield              { &, .member { -fx-fill: #B6B592; } }
  &.cemetery                { &, .member { -fx-fill: #87B38C; } }
  &.commercial              { &, .member { -fx-fill: #EFC8C8; } }
  &.construction            { &, .member { -fx-fill: #B6B592; } }
  &.farmland                { &, .member { -fx-fill: #ECDDC9; } }
  &.farmyard                { &, .member { -fx-fill: #EED5B5; } }
  &.forest                  { &, .member { -fx-fill: #A0CF85; } }
  &.garages                 { &, .member { -fx-fill: #DEDDCD; } }
  &.greenfield              { &, .member { -fx-fill: #CFECA8; } }
  &.greenhouse_horticulture { &, .member { -fx-fill: #DCEAEE; } }
  &.industrial              { &, .member { -fx-fill: #DFD1D6; } }
  &.landfill                { &, .member { -fx-fill: #B6B592; } }
  &.meadow                  { &, .member { -fx-fill: #CFECA8; } }
  &.orchard                 { &, .member { -fx-fill: #9ED88F; } }
  &.quarry                  { &, .member { -fx-fill: #C5C3C3; } }
  &.railway                 { &, .member { -fx-fill: #DED0D5; } }
  &.recreation_ground       { &, .member { -fx-fill: #CFECA8; } }
  &.reservoir               { &, .member { -fx-fill: #B5D0D0; } }
  &.residential             { &, .member { -fx-fill: #E1E1E1; } }
  &.retail                  { &, .member { -fx-fill: #F0D9D9; } }
  &.village_green           { &, .member { -fx-fill: #CFECA8; } }
  &.vineyard                { &, .member { -fx-fill: #B3E2A8; } }

  &.military {
    &, .member {
      -fx-fill: rgba(246,172,168,.25);
      -fx-stroke: rgba(246,172,168,.5);
    }
  }
}

// Natural.
//
// @see <a href="http://wiki.openstreetmap.org/wiki/Map_Features#Natural">
//      http://wiki.openstreetmap.org/wiki/Map_Features#Natural</a>
.natural {
  &, .member {
    -fx-fill: none;
    -fx-stroke: none;
  }

  &.wood      { &, .member { -fx-fill: #AED1A0; } }
  &.scrub     { &, .member { -fx-fill: #B5E3B5; } }
  &.heath     { &, .member { -fx-fill: #D6D99F; } }
  &.grassland { &, .member { -fx-fill: #C6E4B4; } }
  &.fell      { &, .member { -fx-fill: #D6D99F; } }
  &.bare_rock { &, .member { -fx-fill: #E9E0D9; } }
  &.scree     { &, .member { -fx-fill: #EBE2DB; } }
  &.sand      { &, .member { -fx-fill: #F4E9C6; } }
  &.mud       { &, .member { -fx-fill: #E6DCD1; } }
  &.wetland   { &, .member { -fx-fill: #F1EEE9; } }
  &.glacier   { &, .member { -fx-fill: #DDECEC; } }
  &.beach     { &, .member { -fx-fill: #FFF1BA; } }

  &.water     { -fx-fill: #a0c3ff; }
}

// Leisure.
//
// @see <a href="http://wiki.openstreetmap.org/wiki/Map_Features#Leisure">
//      http://wiki.openstreetmap.org/wiki/Map_Features#Leisure</a>
.leisure {
  &, .member {
    -fx-stroke: none;
  }

  &.garden          { &, .member { -fx-fill: #CFECA8; } }
  &.golf_course     { &, .member { -fx-fill: #B5E3B5; } }
  &.nature_reserve  { &, .member { -fx-fill: #F1EEE8; } }
  &.park            { &, .member { -fx-fill: #cbdfaa; } }
  &.pitch           { &, .member { -fx-fill: #8AD3AF; } }
  &.playground      { &, .member { -fx-fill: #CCFDF1; } }
  &.sports_centre   { &, .member { -fx-fill: #31CC99; } }
  &.stadium         { &, .member { -fx-fill: #31CC99; } }
}

// Barriers
//
// @see <a href="http://wiki.openstreetmap.org/wiki/Map_Features#Barrier">
//      http://wiki.openstreetmap.org/wiki/Map_Features#Barrier</a>
.barrier {
  -fx-stroke: #b4b2ae;
  -fx-stroke-width: .5px;

  &.fence,
  &.kerb,
  &.wall { -fx-stroke: #b4b2ae; -fx-stroke-width: .5px; }

  &.hedge {
    -fx-stroke: #a9d09b;

    &.area {
      -fx-fill: #a9d09b;
    }
  }
}

// Amenities
//
// @see <a href="http://wiki.openstreetmap.org/wiki/Map_Features#Amenity">
//      http://wiki.openstreetmap.org/wiki/Map_Features#Amenity</a>
.amenity {
  &.parking {
    -fx-fill: #f6efb3;
    -fx-stroke: #f1e380;
    -fx-stroke-width: .25px;
    -fx-stroke-type: inside;
  }

  &.place_of_worship {
    -fx-fill: #ae9c8c;
    -fx-stroke: #7d6959;
    -fx-stroke-width: .25px;
    -fx-stroke-type: inside;
  }

  &.school {
    -fx-fill: #f0f0d7;
    -fx-stroke: #d9b3a2;
    -fx-stroke-width: .25px;
    -fx-stroke-type: inside;
  }
}

// Land and coastline.
//
// @see <a href="http://wiki.openstreetmap.org/wiki/Coastline">
//      http://wiki.openstreetmap.org/wiki/Coastline</a>
.land {
  -fx-background-color: @color-land;
  -fx-fill: @color-land;
  -fx-stroke: none;
}

.coastline {
  -fx-stroke: @color-land;
  -fx-stroke-width: 0.5px;
}

.meta-direction {
  -fx-fill: blue;
}
